@plugin "daisyui/theme" {
  name: "spruce";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #A2C8A9;
  --color-base-300: #599764;
  --color-base-content: #000000;
  --color-primary: #599764;
  --color-primary-content: #FFFFFF;
  --color-secondary: #808080;
  --color-secondary-content: #D0E3D3;
  --color-accent: #599764;
  --color-accent-content: #FFFFFF;
  --color-neutral: #A2C8A9;
  --color-neutral-content: #000000;
  --color-info: #FFFFFF;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}