@import "tailwindcss";
@plugin "daisyui";

@import "./themes/base/base.css";
@import "./themes/windows/theme.css";
@import "./themes/high-contrast-1/theme.css";
@import "./themes/high-contrast-2/theme.css";
@import "./themes/high-contrast-black/theme.css";
@import "./themes/high-contrast-white/theme.css";
@import "./themes/aero/theme.css";
@import "./themes/classic/theme.css";
@import "./themes/classic-standard/theme.css";
@import "./themes/classic-classic/theme.css";
@import "./themes/luna/theme.css";
@import "./themes/luna-silver/theme.css";
@import "./themes/luna-olive-green/theme.css";
@import "./themes/royale/theme.css";
@import "./themes/royale-noir/theme.css";
@import "./themes/zune/theme.css";
@import "./themes/embedded/theme.css";
@import "./themes/brick/theme.css";
@import "./themes/desert/theme.css";
@import "./themes/eggplant/theme.css";
@import "./themes/lilac/theme.css";
@import "./themes/maple/theme.css";
@import "./themes/marine/theme.css";
@import "./themes/plum/theme.css";
@import "./themes/pumpkin/theme.css";
@import "./themes/rainy-day/theme.css";
@import "./themes/red-white-blue/theme.css";
@import "./themes/rose/theme.css";
@import "./themes/slate/theme.css";
@import "./themes/spruce/theme.css";
@import "./themes/storm/theme.css";
@import "./themes/teal/theme.css";
@import "./themes/wheat/theme.css";
