@plugin "daisyui/theme" {
  name: "classic-standard";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #D4D0C8;
  --color-base-300: #808080;
  --color-base-content: #000000;
  --color-primary: #0A246A;
  --color-primary-content: #FFFFFF;
  --color-secondary: #808080;
  --color-secondary-content: #D4D0C8;
  --color-accent: #0A246A;
  --color-accent-content: #FFFFFF;
  --color-neutral: #D4D0C8;
  --color-neutral-content: #000000;
  --color-info: #FFFFE1;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}