@plugin "daisyui/theme" {
  name: "zune";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #E2E2E2;
  --color-base-300: #B4B4B4;
  --color-base-content: #000000;
  --color-primary: #343434;
  --color-primary-content: #FFFFFF;
  --color-secondary: #747474;
  --color-secondary-content: #F4F4F4;
  --color-accent: #BEBEBE;
  --color-accent-content: #000000;
  --color-neutral: #FFFFFF;
  --color-neutral-content: #000000;
  --color-info: #FFFFE1;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}