@plugin "daisyui/theme" {
  name: "plum";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #D8D0C8;
  --color-base-200: #A89890;
  --color-base-300: #786058;
  --color-base-content: #000000;
  --color-primary: #484060;
  --color-primary-content: #FFFFFF;
  --color-secondary: #786058;
  --color-secondary-content: #A89890;
  --color-accent: #008080;
  --color-accent-content: #D8D0C8;
  --color-neutral: #A89890;
  --color-neutral-content: #000000;
  --color-info: #D5CCC8;
  --color-info-content: #300058;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}