@plugin "daisyui/theme" {
  name: "marine";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #C8E0D8;
  --color-base-200: #88C0B8;
  --color-base-300: #489088;
  --color-base-content: #000000;
  --color-primary: #000080;
  --color-primary-content: #FFFFFF;
  --color-secondary: #489088;
  --color-secondary-content: #C0C0C0;
  --color-accent: #000080;
  --color-accent-content: #FFFFFF;
  --color-neutral: #88C0B8;
  --color-neutral-content: #000000;
  --color-info: #C8E0D8;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}