@plugin "daisyui/theme" {
  name: "rose";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #CFAFB7;
  --color-base-300: #9F6070;
  --color-base-content: #000000;
  --color-primary: #9F6070;
  --color-primary-content: #FFFFFF;
  --color-secondary: #A0A0A4;
  --color-secondary-content: #7D7D7D;
  --color-accent: #9F6070;
  --color-accent-content: #FFFFFF;
  --color-neutral: #CFAFB7;
  --color-neutral-content: #000000;
  --color-info: #FFFFFF;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}