@plugin "daisyui/theme" {
  name: "luna-silver";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #E0DFE3;
  --color-base-300: #9D9DA1;
  --color-base-content: #000000;
  --color-primary: #C0C0C0;
  --color-primary-content: #0E1010;
  --color-secondary: #FFFFFF;
  --color-secondary-content: #A2A1A1;
  --color-accent: #B2B4BF;
  --color-accent-content: #000000;
  --color-neutral: #FFFFFF;
  --color-neutral-content: #000000;
  --color-info: #FFFFE1;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}