@plugin "daisyui/theme" {
  name: "pumpkin";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #ECD59D;
  --color-base-300: #D7A52F;
  --color-base-content: #000000;
  --color-primary: #D7A52F;
  --color-primary-content: #FFFFFF;
  --color-secondary: #A0A0A4;
  --color-secondary-content: #F5EACF;
  --color-accent: #800080;
  --color-accent-content: #FFFFFF;
  --color-neutral: #ECD59D;
  --color-neutral-content: #000000;
  --color-info: #FFFFFF;
  --color-info-content: #800080;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}