@plugin "daisyui/theme" {
  name: "rainy-day";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FFFFFF;
  --color-base-200: #8399B1;
  --color-base-300: #4F657D;
  --color-base-content: #000000;
  --color-primary: #4F657D;
  --color-primary-content: #FFFFFF;
  --color-secondary: #808080;
  --color-secondary-content: #C1CCD9;
  --color-accent: #4F657D;
  --color-accent-content: #FFFFFF;
  --color-neutral: #8399B1;
  --color-neutral-content: #000000;
  --color-info: #FFFFFF;
  --color-info-content: #000000;
  --color-success: #008000;
  --color-success-content: #FFFFFF;
  --color-warning: #808000;
  --color-warning-content: #FFFFFF;
  --color-error: #FF0000;
  --color-error-content: #FFFFFF;

  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}